* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Red Hat Display";
  color: hsl(225, 38%, 60%);
  color: hsl(245, 75%, 52%);
  color: hsl(228, 100%, 98%);
  color: hsl(225, 23%, 55%);
  color: hsl(223, 50%, 23%);
}

body {
  background: url("pattern-background-desktop.svg") no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 95%);
}

.order_summary_card {
  width: 328px;
  height: 568px;
  margin-bottom: 60px;
  border-radius: 20px;
  box-shadow: 5px 25px 15px hsl(223, 100%, 90%);
  margin: 80px auto;
  background-color: white;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  display: flex;
}

.amount {
  color: hsl(220, 20%, 60%);
}

.select {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.recognition {
  font-size: 12px;
}

.hero {
  height: 160px;
  width: auto;
}

.price_in_logo {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.plan {
  font-weight: 900;
}

.annual_plan {
  display: flex;
  justify-content: space-between;
  width: 280px;
  height: 80px;
  padding: 16px;
  font-size: 13px;
  margin-top: 20px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 20px;
}

h1 {
  margin-top: 30px;
  font-size: 1.475rem;
  font-weight: 900;
  color: hsl(223, 50%, 20%);
}

p {
  text-align: center;
  width: 240px;
  font-size: 15px;
  margin-top: 18px;
  font-weight: 500;
  color: hsl(220, 20%, 60%);
}

#change_plan {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  transition: 100ms ease-in;
  color: hsl(250, 80%, 50%);
}

#proceed_to_payment {
  margin-top: 25px;
  font-size: 15px;
  height: 50px;
  width: 280px;
  font-weight: 900;
  background-color: hsl(250, 80%, 50%);
  color: hsl(230, 100%, 95%);
  border-radius: 10px;
  box-shadow: 5px 25px 20px hsl(225, 100%, 95%);
  border: none;
  transition: 100ms ease-in;
}

#proceed_to_payment:hover,
#change_plan:hover {
  cursor: pointer;
  opacity: 0.6;
}

#cancel_order {
  margin-top: 10px;
  font-size: 15px;
  height: 50px;
  width: 280px;
  font-weight: 900;
  color: hsl(220, 20%, 60%);
  transition: 100ms ease-in;
  background-color: transparent;
  border: none;
}

#cancel_order:hover {
  cursor: pointer;
  color: hsl(233, 53%, 23%);
}

@media only screen and (min-width: 380px) {
  .order_summary_card {
    width: 450px;
    height: 700px;
    margin-bottom: 87px;
    margin: 100px auto;
  }

  .hero {
    height: auto;
  }

  .price_in_logo {
    width: 160px;
  }

  .annual_plan {
    width: 360px;
    height: 100px;
    padding: 28px;
    margin-top: 20px;
    font-size: 18px;
  }

  #proceed_to_payment {
    margin-top: 20px;
    font-size: 18px;
    height: 60px;
    width: 360px;
  }

  #cancel_order {
    margin-top: 20px;
    font-size: 13px;
    height: 60px;
    width: 360px;
  }
    h1 {
    margin-top: 30px;
    font-size: 1.83rem;
  }

  p {
    width: 300px;
    margin-top: 10px;
    font-size: 16px;
  }
}